

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<navbar>
<%= link_to 'Student Login', login_path %>
<%= link_to 'Student Signup', signup_path %>
</navbar>

<h1>Work is changing. So are benefits.</h1>

<p>Prepare for the future with a program designed to enhance your workforce, and satisfy the needs of your business.</p>

<button>Learn More</button>
    
</body>
</html>