

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">GUILD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Student Login', login_path, class: "nav-link btn" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Student Signup', signup_path, class: "nav-link btn" %>
      </li>
    </ul>
  </div>
</nav>
</div>

<div class="container">
    <h1>Work is changing. So are benefits.</h1>

    <p>Prepare for the future with a program designed to enhance your workforce, and satisfy the needs of your business.</p>

    <button class="btn btn-primary btn-lg homeLearnMore">Learn More</button>
</div>
    
</body>
</html>