

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education as a Benefit - Guild Education</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand guildLogo" ><%= image_tag("students/guild_logo.jpeg", width: '100px') %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
    <ul class="navbar-nav navLinksLogSign">
      <li class="nav-item">
        <%= link_to 'Student Login', login_path, class: "nav-link btn" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Student Signup', signup_path, class: "nav-link btn" %>
      </li>
    </ul>
  </div>
</nav>
    

<section id="heading">
      <div class="jumbotron ">
        <div class="row">
            <h1 class="display-4 homeHeading col-lg-6">Work is changing. So are benefits.</h1>
              <div class="col-lg-6">
                <p class="lead subtitleHome">Prepare for the future with a program designed to enhance your workforce, and satisfy the needs of your business.</p>
                <p class="lead">
                <button class="btn btn-default btn-lg homeLearnMore " href="#" role="button">Learn More</button>
                </p>
              </div>
          </div>
          <div class="col-lg-6">
            <img src="" class="title-image">
          </div>
        </div>
      </div>
      </section>

    <!-- Testimonials -->

  <section id="features"> 
  
  <div>
  <h6 class="investPeople">INVEST IN YOUR PEOPLE. ADD VALUE TO YOUR BUSINESS.</h6>
  <h2 class="betterEducation">We do education benefits <span class="highlight">better.</span></h2>
  <p class="featureSubtitle">We're transforming tradition tuition reimbursement programs into a strategic investment by increasing employee recruitment, retention, upskilling and brand equity.</p>
  </div>

  <div class="row featuresTogether">
  <div class="feature-box col-lg-4">
    <h3 class="featureTitle">284%</h3>
    <h4 class="feature-title">Positive ROI</h4>
    <p>Return on investment of $2.84 for every $1 spent on education.</p>
  </div>

  <div class="feature-box col-lg-4">
    <h3 class="featureTitle">4/5</h3>
    <h4 class="feature-title">Employee Satisfaction</h4>
    <p>4 in 5 employees want better benefits over a pay raise.</p>
  </div>

  <div class="feature-box col-lg-4">
    <h3 class="featureTitle">54%</h3>
    <h4 class="feature-title">Strategic Talent Driver</h4>
    <p>Percentage of workers who will need retraining or reskilling by 2022.</p>
  </div>

  </div>
  </section>
  

  <section id="companyBrand">
    <div class="container-fluid text-center compTest">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner container-fluid compTextBox">
            <div class="carousel-item active">
              <img src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2019/08/Tacobell_Black@5x.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2019/08/Tacobell_Black@5x.png" alt="Tacobell_Black logo" class="testimonial__image m-auto lazyloaded">
                <div class="testimonial-text">
                  "When we surveyed our employees, education support was one of the top three things they asked for. The barriers to achieving their education goals were time, money and support. Guild delivers on all of these needs through access to online classes, financial aid guidance, tuition assistance and a personal counselor to support each student in real time."
                </div>
              <div class="testimonial-text_author m-t-gamma flex align-center justify-md-center">
                <div class="testimonial-text_author_info">
                  <strong>FRANK TUCKER, </strong><span>GLOBAL CHIEF PEOPLE OFFICER AT TACO BELL</span>                
                </div>              
              </div>
            </div> 

            <div class="carousel-item">
              <img src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2019/08/Tacobell_Black@5x.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2019/08/Tacobell_Black@5x.png" alt="Tacobell_Black logo" class="testimonial__image m-auto lazyloaded">
                <div class="testimonial-text">
                  "When we surveyed our employees, education support was one of the top three things they asked for. The barriers to achieving their education goals were time, money and support. Guild delivers on all of these needs through access to online classes, financial aid guidance, tuition assistance and a personal counselor to support each student in real time."
                </div>
              <div class="testimonial-text_author m-t-gamma flex align-center justify-md-center">
                <div class="testimonial-text_author_info">
                  <strong>BRIAN NICOLE, </strong><span>GLOBAL CHIEF PEOPLE OFFICER AT CHIPOTLE</span>                
                </div>              
              </div>         
            </div> 

        </div>
      </div>
  </section>

<section id="joinBenefits">
<h2 class="endQuestion">Are you ready to change your benefits and invest in your workforce?</h2>
        <%= link_to 'SIGN UP', signup_path, class: "btn btn-default btn-lg signUpButton" %>

</section>

<footer id="footer">
<div class="container-fluid footerWrap">


        <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">
             <h1 class="navbar-brand guild" >GUILD</h1>
            </div>
        
        <div class="col-lg-3 col-md-6 col-sm-12">
            <h6>PARTNER WITH US</h6>
            <a class="bottomLink" href="#">Guild Difference</a>
            <a class="bottomLink" href="#">How it Works</a>
            <a class="bottomLink" href="#">University Partners</a>
            </div>

        <div class="col-lg-3 col-md-6 col-sm-12 ">
            <h6>COMPANY</h6>
            <a class="bottomLink" href="#">Our Story</a>
            <a class="bottomLink" href="#">Careers</a>
            </div>
        
        <div class="col-lg-3 col-md-6 col-sm-12">
            <h6>RESOURCES</h6>
            <a class="bottomLink" href="#">News & Press</a>
            <a class="bottomLink" href="#">Blog</a>
            </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <h6>CONTACT</h6>
            <P>370 17th Street</P>
            <p>Denver, CO 80202</p>
            <p>info@guildeducation.com</p>
            </div>
         </div>

         <p class="copyright"> © Copyright Guild Education. All Rights Reserved. Terms of Use | Privacy Policy</p> 

         To add Emojis Command + Cntrl + Space
   
</div>


</footer>
 
    
</body>
</html>