

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUILD</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand guildLogo" ><%= image_tag("students/guild_logo.jpeg", width: '100px') %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
    <ul class="navbar-nav navLinksLogSign">
      <li class="nav-item">
        <%= link_to 'Student Login', login_path, class: "nav-link btn" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Student Signup', signup_path, class: "nav-link btn" %>
      </li>
    </ul>
  </div>
</nav>
    


    <div class="jumbotron">
     <div class="row">
        <h1 class="display-4 homeHeading col-lg-6">Work is changing. So are benefits.</h1>
        <p class="lead col-lg-6 subtitleHome">Prepare for the future with a program designed to enhance your workforce, and satisfy the needs of your business.</p>
        <p class="lead">
        <button class="btn btn-primary btn-lg homeLearnMore " href="#" role="button">Learn more</button>
        </p>
    </div>
    <div class="col-lg-6">
      <img src="" alt="iphone-mockup" class="title-image">
    </div>
  </div>
    </div>
    



    
    
    
</body>
</html>