
<body class="showLogIn">
<%= render "layouts/navbar" %>



    <section id="headingShow">
        <div class="jumbotron studentsShowHeading">
            <div class="row editProfile">
                <h1 class="col-lg-6 col-sm-12 studentsShowTitle">Good afternoon, <%= @student.first_name %>!</h1>
                <%= link_to 'Edit Profile', edit_student_path(@student), class: "btn editProfileButton" %>
                </div>
            </div>
        </div>
    </section>



        <div class='row cardsShow'>
            <div class="col-md-6 col-sm-12">
                <div class="card w-100">
                    <div class="card-body ">
                        <h3 class="card-title">Take the next step</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Talk to an advisor!</h6>
                        <p class="card-text">Guild helps students successfully enroll in academic programs that are changing their future. Join our growing number of students and graduates!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card w-100">
                    <div class="card-body">
                        <h3 class="card-title">Programs and Courses</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Check it out!</h6>
                        <p class="card-text"><a href="">View</a> or <a href="">Add</a> Courses to your yearly planner!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="changeForBetter">
            <div class="changeBetterSubHeading">
                <h6>CHANGE FOR THE BETTER</h6>
            </div>
            <div>
               <h2 class="changeBetterHeading">Trade in your traditional tuition reimbursement program</h2> 
            </div>
            <div class="changeBetterPara">
                <p>We help HR and L&D leaders morpth their standard tuition reimubursement from a non-strategic cost center into a data-driven benefit and talent strategy</p>
            </div>
        </div>

<%= render "layouts/footer" %>
</body>

