
<h1>Good afternoon, <%= @student.first_name %> !</h1>
<p>Edit Profile</p>


Take the next step

<p>Guild helps students successfully enroll in academic programs that are changing their future. Join our growing number of students and graduates!</p>


<h1>Programs and Courses</h1>

<h3>Here i would list all the courses that were taken</h3>


