


<section id="companyBrand">
    <div class="container-fluid text-center">
    <div class="compTest">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner container-fluid compTextBox">

            <div class="carousel-item active">
              <img src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2019/08/Tacobell_Black@5x.png" width="" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2019/08/Tacobell_Black@5x.png" alt="Tacobell_Black logo" class="testimonial__image m-auto lazyloaded">
                <div class="testimonial-text">
                  "When we surveyed our employees, education support was one of the top three things they asked for. The barriers to achieving their education goals were time, money and support. Guild delivers on all of these needs through access to online classes, financial aid guidance, tuition assistance and a personal counselor to support each student in real time."
                </div>
              <div class="testimonial-text_author m-t-gamma flex align-center justify-md-center">
                <div class="testimonial-text_author_info">
                  <p class="testimonialAuthor"><strong>FRANK TUCKER, </strong><span>GLOBAL CHIEF PEOPLE OFFICER AT TACO BELL</span></p>                
                </div>              
              </div>
            </div> 

            <div class="carousel-item">
              <%= image_tag("students/chip.png", width: '210px', class: "testimonial__image m-auto lazyloaded") %> 
              <!-- <span><h1 style="font-weight: bold, display: inline, color: black, font-size: 1px">CHIPOTLE</h1></span> -->
                <div class="testimonial-text">
                "I've used Guild as a stepping stone into my continued education through Bellevue University.
                To me getting my degree is showing to others that you still can continue to thrive when the world sets other lower expectations based on events within your life. That you truly are in control of becoming whoever you want to be."
                </div>
              <div class="testimonial-text_author m-t-gamma flex align-center justify-md-center">
                <div class="testimonial-text_author_info">
                  <strong>KATHERINE B, </strong><span>GENERAL MANAGER AT CHIPOTLE</span>                
                </div>              
              </div>         
            </div> 

            <div class="carousel-item ">
            <img src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2019/08/walmart-black-logo.png" width="" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2019/08/walmart-black-logo.png" alt="Tacobell_Black logo" class="testimonial__image m-auto lazyloaded"/>
                <div class="testimonial-text">
                  "The impact on associates and their ties to Walmart now that we have the benefit ... is probably the most exciting thing we see, and it inspires all of us within Walmart."
                </div>
              <div class="testimonial-text_author m-t-gamma flex align-center justify-md-center">
                <div class="testimonial-text_author_info">
                  <strong>ELLIE BERTANI, </strong><span>LEARNING STRATEGY & INNOVATION, WALMART</span>                
                </div>              
              </div>
            </div> 

        </div>
      </div>
      </div>
  </section>