


<section id="features"> 
  <div class="feature">
  <div>
  <h6 class="investPeople">INVEST IN YOUR PEOPLE. ADD VALUE TO YOUR BUSINESS.</h6>
  <h2 class="betterEducation">We do education benefits <span class="highlight">better.</span></h2>
  <p class="featureSubtitle">We're transforming tradition tuition reimbursement programs into a strategic investment by increasing employee recruitment, retention, upskilling and brand equity.</p>
  </div>

  <div class="row featuresTogether">
  <div class="feature-box col-lg-4">
    <h3 class="featureTitle">284%</h3>
    <h4 class="feature-title">Positive ROI</h4>
    <p>Return on investment of $2.84 for every $1 spent on education.</p>
  </div>

  <div class="feature-box col-lg-4">
    <h3 class="featureTitle">4/5</h3>
    <h4 class="feature-title">Employee Satisfaction</h4>
    <p>4 in 5 employees want better benefits over a pay raise.</p>
  </div>

  <div class="feature-box col-lg-4">
    <h3 class="featureTitle">54%</h3>
    <h4 class="feature-title">Strategic Talent Driver</h4>
    <p>Percentage of workers who will need retraining or reskilling by 2022.</p>
  </div>

  </div>
  </div>
  </section>