@import "bootstrap/scss/bootstrap";
@import "courses";
@import "sessions";
@import "students";
@import "register_courses";


@media (max-width:989px) {
    .provenRes {
        padding: 2rem 25px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .topHeading {
        margin-left: 5px;
        margin-right: 5px;
    
    }

    .nav {
        margin-left: 5px;
    }
    
    div.nav2 {
        margin-right: 5px;
    }

    .compTest {
        margin-left: 5px;
        margin-right: 5px;
    }

    .footerWrap {
        padding: 50px 20px 50px;
        margin-left: 5px;
        margin-right: 5px;
    }

    
    div.showHeading {
        margin: 5px;
    }

    div.cardsShow {
        margin: 0px;
    }

    .changeBetter {
        margin-left: 5px;
        margin-right: 5px;
    }

    .joinBen {
        margin-left: 5px;
        margin-right: 5px;
    } 

    .courses {
        margin: 0px 15px;
        align-items: center;
    }

    .logos {
        display:  none;
    }

    .valueImg {
        display:  none;
    }
    
    .mainDiv {
        margin: 0px 30px;
        padding: 75px 50px;
    }

    .cVHeading {
        padding: 0px 50px 50px;
        text-align: center;
    }
    

    .media-body {
        padding: 0px 50px;
    }

    div.changeBetter {
        margin: 0px 20px
     }

}

@media (max-width: 1652px) {
    .mainDiv {
        padding: 75px 50px;
        justify-content: center;
    }
    
    .media-body {
        padding: 0px 50px;
    }
}

@media (max-width: 1480px) { 
    .mainDiv {
        padding: 75px 0px;
        margin: 0px 100px;
        justify-content: center;
    }
    
    .media-body {
        padding: 0px 50px;
    }

    .provenRes {
        margin-left: 110px;
        margin-right: 110px;
    }

    .feature {
        margin-right: 200px;
        margin-left: 200px
    }

    div.nav {
        margin-left: 100px;
    }
    
    .nav2 {
        margin-right: 100px;
    }

    .entireHeading{
        margin: 0px 10px
    }

    .showHeading {
        margin: 0px 100px;
    }

    .cardsShow {
        margin: 0px 100px;
    }
    
    .changeBetter {
        margin: 0px 100px
     }
}


@media (min-width: 1480px) {
    .footerWrap {
        margin: 0px 240px
    }
}
  

@media (max-width: 1205px) { 
    .media-body {
   padding: 0px 30px;
}
.valueImg {
    width: 300px;
    margin-top: 75%;
}

.provenRes {
    margin-left: 60px;
    margin-right: 60px;
}

.compTest {
    margin-left: 100px;
    margin-right: 100px;
}
.feature {
    margin-right: 100px;
    margin-left: 100px
}

div.nav {
    margin-left: 100px;
}

    
}




@media (max-width: 889px) {
        
    .cVHeading {
        padding-bottom:30px;
        
    }
   
    .mainDiv {
        margin: 0px;
        padding: 50px 0px;
    }

    .compTest {
        margin: 0px 50px;
    }
}

@media (max-width: 600px) {
        
    .cVHeading {
        padding-bottom: 15px;
    }
    

    .media-body {
        padding: 0px;
    }

    .compTest {
        margin: 0px 5px;
    }
}

@media (min-width: 989px) {
    div.feature-box.col-lg-4 {
        padding: 25px;
    }

    .featureSubtitle {
        padding: 0px 100px;
    }
    
    .feature-box {
        padding: 25px 50px
    }
}





@media (min-width: 768px) {
    .justify-md-center {    
    justify-content: center!important;
    }
}

@media (min-width:769px) {
    .compTestBox {
        padding: 60px 15px;
    }
}

@media (max-width: 995px) {
    .homeHeading {
        margin-right: 80px;
    }
    
}

@media (max-width: 991px) {
    div.nav {
        margin-left: 5px;
    }
}


@media (max-width:750px) {
    .topHeading {
        padding: 0px 15px;
    
    }
    
    .subtitleHome {
        padding-top: 5px;
        color: #037180;
        margin-right: 60px;
    }
    
}

@media (max-width: 1330px) {
    .companiess {
        margin:2px 20px;
        
    }

    .logo {
        padding: 3px 15px
    }
}

@media (max-width: 1050px) {
    .companiess {
        margin:2px 5px;
        
    }

    .logo {
        padding: 3px 10px
    }
}


.alert {
    margin-bottom: 0px;
}

form {
    margin-top: 1rem;
}