// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/






body {
    background-color: #f8f8f8;
    margin: 0 100px
    
}

// .col-lg-4 {
//     max-width: 50%;
// }

// .col-md-6 {
//     max-width: 50%;
// }

.col-md-4 {
    max-width: 100%;
}



.col-lg-6 {
    max-width: 100%;
}

.newCourseForm {
    padding: 1rem 1rem;
    justify-content: center;
}

.section {
    padding: 8rem 1rem;
}

.saveCourse {
    font-size: 15px;
    margin-top: 20px;
    padding: 10px 24px;
    width: 272px;
    background-color: #007d8c;
    letter-spacing: 1.3px;
    color: #fff;
}

.saveCourse:hover {
    background-color: #037180;
    text-decoration: underline;
    color: #fff;
}


.Input {
    display: block;
    margin: 5px;
    
}

.textInputs {
    justify-content: center;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
}

textarea.form-control {
    height: 120px;
}


 

.container-fluid {
    padding-left: 20px
}

.courseDetails {
     padding-top: 2rem;
     padding-bottom: 1rem;
}

.row {
    
    padding: 20px 10px 25px
}

.courses {
    margin: 0px 100px;
}

.indCard {
    margin: 10px 8px 5px;

}

.year {
    padding: 8px 10px 20px
}