// Place all the styles related to the RegisterCourses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// #registerIndCard {
//     width:0rem
// }

.registerInd {
    margin: 15px 280px;
    padding: 30px
}

.cardHeight {
    height: auto;
}

.registerGroupCourses {
    margin: 35px 10px 5px
}