// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.loginButton {
    font-size: 15px;
    margin-top: 20px;
    padding: 10px 24px;
    width: 272px;
    background-color: #007d8c;
    letter-spacing: 1.3px;
    color: #fff;
}

.loginButton:hover {
    background-color: #037180;
    text-decoration: underline;
    color: #fff;

}

.input {
    margin-bottom: 5px;
    width: 272px;
    // text-align: center;
}

.welcomeBack {
    margin-top: 25px;
    padding: 10px 0px 20px;
    font-weight: bold;
    color: #636363;
}



.signInForm {
    // border: 10px solid gray;
    height: 90vh;
    position: relative;
    justify-content: center;
    align-items: center;
}

.container {
    display: block;
    // margin-top: 100px;
    // display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50vh;
    width: 80%;
    max-width: 700px;
    // padding: 0px 120px;
}

.inputBox {
   justify-content: center;
//    align-items: center;
// margin: auto;
    // padding: 0px 200px;
}

.testimonial-text {
    line-height: 1;
}

