// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.loginButton {
    font-size: 15px;
    margin-top: 20px;
    padding: 10px 24px;
    width: 272px;
    background-color: #007d8c;
    letter-spacing: 1.3px;
}

.loginButton:hover {
    background-color: #037180;
    text-decoration: underline;
}



.input {
    margin-bottom: 5px;
    // width: 272px;
    // text-align: center;
}

.welcomeBack {
    margin-top: 25px;
    padding: 10px 0px 20px;
    font-weight: bold;
    color: #636363;
}

.form-control {
    align-items: center;
    
}

.container {
    display: block;
    margin-top: 100px;
    // padding: 0px 120px;
}

.inputBox {
   justify-content: center;
    padding: 0px 100px;
}

