// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// body {
//     text-align: center;
// }

p {
    color: #8f8f8f
}


.homeLearnMore {
     background-color: #007d8c;
     border: none;
     padding-left: 15px;
     margin-left: 15px;
}

.homeLearnMore:hover {
    background-color: #037180;
}

.homeHeading {
    color: #007d8c;
    font-weight: bold;
    text-align: left;
    
}

.subtitleHome {
    display: inline-block;
}

.guildLogo {
    margin-left: 1%;
}

#features {
    text-align: center;
    margin: 15px
}

.featureTitle {
    color: #119DA4;
    font-weight: bold;
}

.investPeople {
    color: #8f8f8f
}

.featureSubtitle {
    padding-left: 8%;
    padding-right: 8%;
}

.featuresTogether {
    padding-left: 15px;
    padding-right: 15px;
}

.feature-box {
    padding: 10px
}

#joinBenefits {
    text-align: center;
    padding: 75px 30px 75px;
    background-color: rgba(194,228,243,.25);
}

.endQuestion {
    font-weight: bold;
}

// Footer
#footer {
    text-align: left;
    background-color: #063347;
    color: #fff;
}


