// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// body {
//     text-align: center;
// }

// Heading Section

// #heading {
//     background-image: image-url('guild_logo.jpeg');
// }

p {
    color: #8f8f8f
}


.homeLearnMore {
     background-color: #007d8c;
     border: none;
     padding: 10px 50px;
    //  margin-left: 15px;
    margin-top: 20px;
    color: #fff;
    letter-spacing: 1.3px;
}

.highlight {
    background-position: 0 -8px;
    background-image: linear-gradient(180deg, hsla(0,0%,100%,0) 83%, #fee280 -8px);
}

.homeLearnMore:hover {
    background-color: #037180;
    color: #fff;
}

.homeHeading {
    color: #007d8c;
    font-weight: bold;
    text-align: left;
    
}

.subtitleHome {
    display: inline-block;
}

.guildLogo {
    margin-left: 1%;
}

// Features Section

#features {
    text-align: center;
    margin: 15px;
    padding: 10px 15px 30px
}

.betterEducation {
    
}

.featureTitle {
    color: #119DA4;
    font-weight: bold;
}

.investPeople {
    color: #8f8f8f;
    padding-top: 15px;
    padding-bottom: 10px;
}

.featureSubtitle {
    padding-left: 8%;
    padding-right: 8%;
}

.featuresTogether {
    padding-left: 15px;
    padding-right: 15px;
}

.feature-box {
    padding: 10px
}

// Join Benefits Section 

#joinBenefits {
    text-align: center;
    padding: 75px 30px 75px;
    background-color: rgba(194,228,243,.25);
}

.signUpButton {
    background-color: #007d8c;
    margin-top: 40px;
    width: 200px;
    color: #fff;
    letter-spacing: 1.3px;
    font-size: 15px;
    padding: 10px 
}

.signUpButton:hover {
    background-color: #037180;
    color: #fff
}

.endQuestion {
    font-weight: bold;
}

// Footer Section

#footer {
    text-align: left;
    background-color: #063347;
    color: #fff;
    padding: 0px 20px 0px
}

#footer a {
    color: white;
    text-decoration: none;
    display: block;
   
}

#footer p {
    color: #fff;
}

.footerWrap {
    padding: 50px 20px 50px
}

.guild {
   font-size: 50px;
   font-weight: 1;
   text-align: center;
   padding-left: 0px;
}

#footer h6 {
    // padding-bottom: 10px;
    padding: 35px 0px 5px
}

.bottomLink {
    padding: 2px 0px 4px
}


.copyright {
    padding-top: 30px;
}

.signUpInput {
    display: inline;
    margin: -12px
}

#companyBrand {
    background-color: #fff2c2;
    padding: 25px 10px 10px;
    margin: 0;
    vertical-align: baseline;
    box-sizing: border-box;

    
}

.testimonial-text {
    margin-top: 28px;
    margin-bottom: 20px;
    font-style: italic;
    line-height: 25px;


}

.compTest {
    padding: 20px 20px 60px;
}

.compTestBox {
    max-width: 888px;
    position: relative;
    margin: 60px auto;
    color: #313131;
    font-size: 1.125em;
    font-weight: 100;
    text-align: center;
}

@media (min-width:769px) {
    .compTestBox {
        padding: 60px 15px;
    }
}

.testimonial-text_author {
    text-align: left;
}
@media (min-width: 768px) {
.justify-md-center {    
justify-content: center!important;
}
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.m-t-gamma {
    margin-top: 28px;
}




