// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.homeLearnMore {
     background-color: #007d8c;
     border: none;
     padding-left: 15px;
     margin-left: 15px;
}

.homeHeading {
    color: #007d8c;
    font-weight: bold;
    
}

.subtitleHome {
    display: inline-block;
}

.guildLogo {
    margin-left: 1%;
}

