

<section id="joinBenefits">
        <div class="joinBen">
                <h2 class="endQuestion">Would You Like to Add A New Course?</h2>
                <%= link_to 'Add A Course', new_student_course_path(current_student), class: "btn btn-default btn-lg signUpButton" %>
        </div>
</section>