

<div class="form-group">
    <div class="row">
        <div class="col-sm-4">
            <% if resource.avatar.attached? %>
            <%= image_tag resource.avatar.variant(resize: "100x100"), class: "rounded-cirlce" %>
            <% else %>
                <%= image_tag gravatar_image_url(current_student.email, size:100), height: 100, width: 100, class: "rounded-circle" %>
            <% end %>
        </div>
    </div>
</div>