<div class="logos">
<div class="companiess"> 
<div class="row row2">
<p class="trustedBy">TRUSTED BY</p>

<img class="logo" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-chipotle.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-chipotle.png"> 

<img class="logo" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-walmart.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-walmart.png"> 

<img class="logo" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-disney.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-disney.png"> 

<img class="logo" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-discover.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-discover.png"> 

<img class="logo" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-lowes.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-lowes.png"> 

<img class="logo" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-tacobell.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-tacobell.png"> 

</div>
</div>
</div>
