


<% flash.each do |type, msg| %>
    <% if flash = "alert" %>
        <div>
            <%= msg %>
        </div>
    <% elsif flash = "notice" %>
        <div>
            <%= msg %>
        </div>
    <% end %>
<% end %>