footer#footer
  .container-fluid
    .footerWrap
      .row
        .col-lg-12.col-md-12.col-sm-12
          h1.navbar-brand.guild GUILD
        .col-lg-3.col-md-6.col-sm-12
          h6.partnerWithUs PARTNER WITH US
          a.bottomLink href="#"  Guild Difference
          a.bottomLink href="#"  How it Works
          a.bottomLink href="#"  University Partners
        .col-lg-3.col-md-6.col-sm-12
          h6.footerTitle COMPANY
          a.bottomLink href="#"  Our Story
          a.bottomLink href="#"  Careers
        .col-lg-3.col-md-6.col-sm-12
          h6.footerTitle RESOURCES
          a.bottomLink href="#"  News  Press
          a.bottomLink href="#"  Blog
        .col-lg-3.col-md-6.col-sm-12
          h6.footerTitle CONTACT
          P 370 17th Street
          p Denver, CO 80202
          p info@guildeducation.com
      p.copyright &#xA9; Copyright Guild Education. All Rights Reserved. Terms of Use | Privacy Policy
