.container-fluid.cont
  .mainDiv
    .media
      .media-body
        .cVHeading
          h6.investPeople OUR PILLARS
          h3
            | Guild Core 
            span.highlight Values
          p Like our students, the Guild team is driven, passionate and eager to grow. We stand by a set of core values to guide and influence all the work we do with our students, universities and employer partners.
        .cVInfo
          h4 Scale for Students, Students for Scale
          p Our number one investment is the success of our students. When they succeed, so do we.
          h4 Celebrate Change
          p In a world where the only constant is change – we thrive on remaining agile and delivering the right solutions in the moment.
          h4 Have a Learner’s Mindset
          p We strive to reach our full potential through feedback, reflection, and continued education.
          h4 Be an Owner
          p We balance autonomy with accountability and empower employees to deliver on our mission.
          h4 Be Teammates
          p We are all in this together.
      span.media-left
        = image_tag 'students/coreValues', class: 'valueImg', width:'450'
