
<div class="container-fluid cont">
<div class="mainDiv">
<div class="media">
    
    <div class="media-body">
    <div class="cVHeading">
        <p>OUR PILLARS</p>
<h3>Guild Core <span class="highlight">Values</span></h3>
<p>Like our students, the Guild team is driven, passionate and eager to grow. We stand by a set of core values to guide and influence all the work we do with our students, universities and employer partners.</p>
</div>

<div class="cVInfo">
<h4>Scale for Students, Students for Scale</h4>
<p>Our number one investment is the success of our students. When they succeed, so do we.</p>



<h4>Celebrate Change</h4>
<p>In a world where the only constant is change – we thrive on remaining agile and delivering the right solutions in the moment.</p>



<h4>Have a Learner’s Mindset</h4>
<p>We strive to reach our full potential through feedback, reflection, and continued education.</p>



<h4>Be an Owner</h4>
<p>We balance autonomy with accountability and empower employees to deliver on our mission.</p>



<h4>Be Teammates</h4>
<p>We are all in this together.</p>
</div>
     
    </div>
    <span class="media-left">
         <%= image_tag 'students/coreValues', class: 'valueImg', width:'350' %>
    </span>
</div>
</div>
</div>