


<section id="heading">
  <div class="jumbotron studentsHome">
  <div class="topHeading">
    <div class="row">
      <div class="col-lg-6 ">
        <h1 class="display-4 homeHeading ">Work is changing. So are benefits.</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <p class="lead subtitleHome">Prepare for the future with a program designed to enhance your workforce, and satisfy the needs of your business.</p>
        <p class="lead">
        <button class="btn btn-default btn-lg homeLearnMore " href="#" role="button">Learn More</button>
        </p>
      </div>
    </div>
    </div>
    
  </div>
</section>