


<section id="joinBenefits">
<h2 class="endQuestion">Are you ready to change your benefits and invest in your workforce?</h2>
        <%= link_to 'SIGN UP', signup_path, class: "btn btn-default btn-lg signUpButton" %>

</section>